{% if breadcrumbs|length %}
  <ul id="xi-breadcrumbs">
    {% for bc in breadcrumbs %}
      {% if loop.last or not bc.url %}
        <li>{{ bc.label|trans }}</li>
      {% else %}
        <li><a href="{{ bc.url }}">{{ bc.label|trans }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
